.container {
  width: 90vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.aside {
  width: 20%;
}

.list {
  width: 75%;
}

.error_container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error_container h2 {
  text-align: center;
  font-weight: 700;
}

.error_container button {
  background-color: steelblue;
  padding: 5px 25px;
  color: white;
  font-size: 18px;
  border: #333 1px solid;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}

@media (max-width: 1026px) {
  .container {
    width: 95vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .aside {
    width: 100%;
    margin-bottom: 1rem;
  }
  .list {
    width: 100%;
  }
}
