* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: Lato, sans-serif;
  font-size: 16px;
  color: #262626;
  background-color: #ffffff;
}

a {
  color: inherit;
  text-decoration: none;
}

#modal {
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal:empty {
  display: none;
}

#modal > div {
  background-color: white;
  padding: 15px;
  text-align: center;
  border-radius: 30px;
  background: #faeff0;
}

#modal img {
  width: auto;
  width: 50vh;
  height: auto;
  height: 50vh;
}

#modal button {
  display: inline-block;
  margin-right: 15px;
}

#modal button {
  background-color: #ad343e;
  padding: 5px 25px;
  color: white;
  font-size: 18px;
  border: #333 1px solid;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}
